<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
    <title>Super Secret Message Club</title>
  </head>
  <body>
    <div id="index-main-container">
      <div id="right-container">
        <% if (user) { %>
        <h1>Welcome, <%= user.username %></h1>

        <% if (user.membership_id === 1) { %>

        <p>Thank you for signing up!</p>
        <p>
          You're now an initiate member. You're still not allowed to write
          messages, or see who wrote what.
        </p>
        <p>To increase your membership level, you have to prove your worth.</p>
        <a href="/riddle">Click here to prove you're a worthy member</a>

        <p>Click <a href="/log-out">here</a> to logout.</p>
        <% } else if (user.membership_id >= 2) { %>

        <p>Want to leave a message?</p>

        <form action="/" method="POST">
          <input type="hidden" name="username" value="<%= user.username %>" />

          <label for="message">Your message here</label>
          <input
            id="message"
            name="message"
            placeholder="Your message here..."
            type="text"
          />
          <button>Send Message</button>
        </form>

        <p>Click <a href="/log-out">here</a> to logout.</p>
        <% } %> <% } else { %>

        <h1>Curious to see who posted what?</h1>
        <h2>Sign in and find out.</h2>

        <form action="/log-in" method="POST">
          <div id="login-form">
            <input
              id="username"
              name="username"
              placeholder="Type your username"
              type="text"
              required
            />
            <input
              id="password"
              name="password"
              placeholder="Type your password"
              type="password"
              required
            />
            <button id="login-button">Log In</button>
          </div>
        </form>

        <p>
          Don't have an account? Click <a href="/sign-up">here</a> to create
          one.
        </p>
        <br />
        <br />
        <p>P.S. - Can't be bothered to make an account?</p>
        <p>Use this: Log-in: 'lazyuser' Password: '1234'</p>
        <% } %>
      </div>

      <div id="left-container">
        <% messages.forEach(function(message) { %>
        <div class="message-box">
          <p><%= message.content %></p>
          <% if (user && user.membership_id >= 2) { %>
          <p>
            <i>posted by</i> <b><%= message.username %></b> <i>on</i>
            <b><%= message.created_at %></b>
          </p>
          <% } else { %>
          <p><i>posted by</i> <b>??</b> <i>on</i> <b>??</b></p>
          <% } %> <% if (user && user.membership_id === 3) { %>
          <form
            action="/messages/<%= message.id %>?_method=DELETE"
            method="POST"
            style="display: inline"
          >
            <button
              type="submit"
              style="border: none; background: none; cursor: pointer"
            >
              🗑️
            </button>
          </form>
          <% } %>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
